body {
  background-color: rgba(0, 0, 0, 0.63);
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-x: auto;
}

.persona-image {
  width: 185px;
  height: auto;
  border-radius: 15%;
  display: block;
  margin: 0 auto;
}

.persona {
  width: 600px;
  max-width: 100%;
  border-radius: 15%;
  background-color: rgb(196, 211, 215);
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  margin: 0 auto;
}

.persona-name {
  font-size: 24px;
  margin-top: 20px;
}

.persona-attributes,
.persona-bio {
  margin-top: 1px;
  line-height: 1.4;
  margin-bottom: 7px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 25px;
  width: 1100px;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  flex: 1;
}

.left-container {
  margin-right: 25px;
}

.right-container {
  margin-left: 25px;
}

.info-box {
  background-color: #e0e0e0;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
  border-radius: 30%;
}
